.lead {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 984px;
  min-height: 1005px;
  margin: 56px 148px 0 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 928px;
    min-height: 962px;
    margin: 48px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 768px;
    min-height: 862px;
    margin: 48px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    width: 320px;
    min-height: 406px;
    margin: 48px 2px 0 2px;
  }
}