.lead {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 984px;
  min-height: 1005px;
  margin: 56px 148px 0 148px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    width: 928px;
    min-height: 962px;
    margin: 48px auto 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    width: auto;
    min-height: 862px;
    margin: 48px 0 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead {
    width: auto;
    min-height: 406px;
    margin: 48px 2px 0 2px;
  }
}