.place {
  width: 984px;
  max-height: 660px;
  display: grid;
  grid: min-content / 1fr 1fr;
  row-gap: 48px;
  column-gap: 40px;
  margin: 80px 0 0 0;
}

.place:nth-last-child(5) {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    width: 928px;
    min-height: 564px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    width: 720px;
    min-height: 434px;
    column-gap: 28px;
    margin: 73px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .place {
    width: 320px;
    max-height: 1042px;
    display: grid;
    grid: min-content / 1fr;
    row-gap: 32px;
    margin: 50px 0 0 0;
  }
}